## <span style = 'color:green'>Assignment on python fundamentals</span>

1. **By using 'print' function print the provided string in specified format**
**your executiion should be this**: 

Hello World           
  Welcome to 'Python' Programming

In [1]:
#start your code here

print("Hello World\n Welcome to 'Python' Programing")

Hello World
 Welcome to 'Python' Programing

2. **Check the python version which you are using**

In [2]:
#start your code here

import sys
print(sys.version)

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

3. **Design a Python program which can calculate the area by taking readius as input by user input method**
<table>
  <tr>
  <td><td>
   <br> instead of giving direct values try using "float(input())" </td>
  </tr>
</table>

In [7]:
#start your code here
from math import pi
r=float(input ("Enter the value of radius:="))
print("The Area of Circle of radius " + str(r) + " is:= " +str(pi*r**2))

Enter the value of radius:=4.50
The Area of Circle of radius 4.5 is:= 63.61725123519331

4. **Write a python program which can take your first and last name seperately and execute as** 
<table>
  <tr>
  <td><td>
   <br>**Sample execution** : Hello 'first name' 'last name', hope you are doing good</td>
  </tr>
</table>

In [8]:
#Start ypur code here
first_name = input("Enter first name:-")
last_name = input("Enter last name:-")
print("Hello " +first_name +" "  +last_name + "," "hope you are doing good")

Enter first name:-Sonal
Enter last name:-Kumar
Hello Sonal  Kumar,hope you are doing good

5. **Write a python program which can convert kilograms to grams**

In [9]:
#start your code here
kilograms = float(input("Enter value in kilograms:- "))
grams = (kilograms*1000)
print("In grams:-", grams)

Enter value in kilograms:- 5.50
In grams:- 5500.0

6. **Create a list and store the given elements in the list**
  <table>
  <tr>
  <td><td>
   <br>Elements : 'Bengaluru','New York', 1971, '1682', (1,2,3,4,5,'Is this tuple?'),"'Hello,welcome to Python Programming'"</td>
  </tr>
</table>
- Try to extract entire tuple by using positive indexing
- Can we add elements into tuple after creating it?
- Remove '1682' and 'New York' from the list
- Discuss one practical application of tuple and lists
- Access 'Bengaluru' by Negitive indexing
- add 'Mumbai' into the list
- Try to perform one operation on each removal operation on lists 
1. del
2. remove
3. pop
- Try to perform one operation on each operational
1. append
2. entend
3. insert

In [4]:
#start your code here
elements = ['Bengaluru','New York', 1971, '1682', (1,2,3,4,5,'Is this tuple?'),"'Hello,welcome to Python Programming'"]

In [5]:
#Try to extract entire tuple by using positive indexing
elements[0:]

['Bengaluru',
 'New York',
 1971,
 '1682',
 (1, 2, 3, 4, 5, 'Is this tuple?'),
 "'Hello,welcome to Python Programming'"]

In [ ]:
#Can we add elements into tuple after creating it?

NO, Because tuples are immutables

In [6]:
#Access 'Bengaluru' by Negitive indexing
elements[-6]

'Bengaluru'

In [8]:
#add 'Mumbai' into the list
elements.append("Mumbai")

In [11]:
print(elements)

['Bengaluru', 'New York', 1971, '1682', (1, 2, 3, 4, 5, 'Is this tuple?'), "'Hello,welcome to Python Programming'", 'Mumbai']

In [13]:
#del:- with del keyword y0u can delete element by index
del elements[3]

In [14]:
print(elements)

['Bengaluru', 'New York', 1971, (1, 2, 3, 4, 5, 'Is this tuple?'), "'Hello,welcome to Python Programming'", 'Mumbai']

In [16]:
elements.remove(1971)

In [17]:
print(elements)

['Bengaluru', 'New York', (1, 2, 3, 4, 5, 'Is this tuple?'), "'Hello,welcome to Python Programming'", 'Mumbai']

In [18]:
elements.pop()

'Mumbai'

In [19]:
elements = ['Bengaluru','New York', 1971, '1682', (1,2,3,4,5,'Is this tuple?'),"'Hello,welcome to Python Programming'"]

In [20]:
#Append add in the last
elements.append('Mumbai')

In [21]:
print(elements)

['Bengaluru', 'New York', 1971, '1682', (1, 2, 3, 4, 5, 'Is this tuple?'), "'Hello,welcome to Python Programming'", 'Mumbai']

In [33]:
elements = ['Bengaluru', 'New York', 1971, '1682', (1, 2, 3, 4, 5, 'Is this tuple?'), "'Hello,welcome to Python Programming'", 'Mumbai']

In [35]:
elements.extend("1682")
#entend:- it will add element by element in the last an in single extend

In [36]:
print(elements)

['Bengaluru', 'New York', 1971, '1682', (1, 2, 3, 4, 5, 'Is this tuple?'), "'Hello,welcome to Python Programming'", 'Mumbai', '1', '6', '8', '2']

In [37]:
#insert:- insert inn the poition where you want
elements.insert(2, "Patna")

In [38]:
print(elements)

['Bengaluru', 'New York', 'Patna', 1971, '1682', (1, 2, 3, 4, 5, 'Is this tuple?'), "'Hello,welcome to Python Programming'", 'Mumbai', '1', '6', '8', '2']

7. **Write a python program which can calculate the electricity bill by considering the no of units consumed and other parameters are mentioned below**
- If units consumed is less than 50 then bill amount should be 100INR
- If units consumed between 50 - 300 then each unit will be charged at 4.5 INR
-  If units consumed more than 300 then that billed individual have to pay base pay as 1000INR and 300 units will be reduced from his total consumed units and for remaining units 7 INR will be charged for each unit.
- Execution should be

In [10]:
#start your code here
units=int(input("please enter the number of units you consumed:- "))
if(units<=50):
    payAmount=0
    fixedcharge=100
elif(units<=300):
    payAmount=0
    fixedcharge=(units*4.5)
elif(units > 300):
    payAmount=(units-300)*7
    fixedcharge=1000.00
else:
    payAmount = 0


Total=payAmount+fixedcharge;
print("\nElecticity bill=%.2f" %Total)

please enter the number of units you consumed:- 50

Electicity bill=100.00

8. **Write a program to calculate the tax of the vehicle based on the price**
- below are the parameters to consider


    Cost price (in Rs)                                            Tax
        > 150000                                                  15 %
        > 50000 and <= 100000                                     10%

In [2]:
#start your code here
price=int(input("Price of the Vehcile: "))

if(price >0 and price<=50000):
    taxAmount=0
# Here in the question parameter for the range (100001 to 150000) is not given so i am considering 10 % for that also
elif(price>50000 and price<=150000):
    taxAmount= (price * 0.10)
    fixedcharge=0
elif(price > 150000):
    taxAmount = (price * 0.15)
    
Total= taxAmount
print("\nTotal Taxable amount of the vechile is: = ", Total);

Price of the Vehcile: 120000

Total Taxable amount of the vechile is: =  12000.0

9. **Write a program to check if the input is positive or negitive**

In [14]:
#start your code here
num = int(input("Enter the number to check:-"))
if (num >= 0):
    print('Entered number is a positive number')
else:
    print('Entered number is negative number')

Enter the number to check:-56
Entered number is a positive number

10. **Define a function which can multiply the string with n number of times**
- string = "python programming"

In [43]:
#start your code here

def fun(string,n):
    return string * n
print (fun("'python programming' ", 3))

'python programming' 'python programming' 'python programming'

11. **Define a function whicg can sum up two numbers**

In [23]:
#start your code here
def add_num(a,b):
    sum = a+b
    return sum
print("The sum of two number is ",add_num(15,25))

The sum of two number is  40

12. **Define a function which can identify if a user has entered specifit string or not**
- specified string = "India"

In [13]:
#start your code here

13. **define a function which will greet by taking user name as input**
- input = name
- hello 'name', hope you are doing good

In [15]:
#start your code here
def greet():
    name = input("Name is:-")
    print("hello",name, "hope you are doing Good")
greet()

Name is:-Sonal
hello Sonal hope you are doing Good

14. **Define a function which can give us the entire prime numbers till the input**

In [16]:
#start your code here
def prime():
    num = int(input("Enter any number:-"))
    f =0
    for i in range (2,int(num/2)+1):
        if num %i == 0:
            f =1
            break
    if f == 0:
        print("Number is a prime one")
    else:
        print("number is not a prime number")
prime()

Enter any number:-68
number is not a prime number

15. **Q.1 Check if a given string is palindrome.**
    <br> A string is palindrome if the reverse of the string is same as itself.
    <br> For eg. madam
    <br> Print "`<string>` is palindrome" if it is palindrome 
    <br> else "`<string>` is not a palindrome" if it is not a palindrome.
    <br> Hint : Use slicing to get reverse of the string.

In [18]:
#start your code here
my_str = input("Enter the string:-")
rev_str = reversed(my_str)

if list(my_str) == list(rev_str):
    print("It is a palindrome")
else:
    print("It is not a palindrome")

Enter the string:-sosos
It is a palindrome

16. **Write a python program to find n is a leap year** 
<br> Print "n is a leap year" if the given year is leap year.
<br> Print "n is not a leap year" if the given year is not leap year.
<br> Replace n with given year.
<br> Hint : Use nested if-else

In [19]:
#start your codes here
year = int(input("Please enter year"))
 
if (year%400 == 0):
          print("%d is a Leap Year" %year)
elif (year%100 == 0):
          print("%d is Not the Leap Year" %year)
elif (year%4 == 0):
          print("%d is a Leap Year" %year)
else:
          print("%d is Not the Leap Year" %year)

Please enter year900
900 is Not the Leap Year

17. **Write a python program to check if n is leap year**

In [20]:
#start your codes here
year = int(input("Please enter year"))
 
if (year%400 == 0):
          print("%d is a Leap Year" %year)
elif (year%100 == 0):
          print("%d is Not the Leap Year" %year)
elif (year%4 == 0):
          print("%d is a Leap Year" %year)
else:
          print("%d is Not the Leap Year" %year)

Please enter year2024
2024 is a Leap Year

18.  **Find the largest among three numbers**

eg. Consider a,b,c as the three numbers, find which is the  largest number among them

In [21]:
#start your code here
a=15
b=14
c=12

if (a>=b) and (a>=c):
    largest = a
elif (b>=a) and (b>=c):
    largest = b
else:
    largest = c
print("The Largest number in ", a,",",b, "and",c,"is:=", largest)

The Largest number in  15 , 14 and 12 is:= 15

19. **write a python program to print even numbers from 1 to 15 by using range function**

In [22]:
#start your code here
for num in range(1,15):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14

20. **Write a program to guess the integer which is selected by computerby using  randint**
- use random and radint 
- range should be 1 to 10
- if user's number is greater than 10 then program should say your guess is too high
- if user input is matches with the computer choice then your program should say "yey! correct guess"
- otherwise your program should say too low

In [ ]:
#start your code here